h1{
    color: red;
    font-size: 60px;
    text-align: center;
}
p1{
    color: aqua;
    font-size: 15px;
}
p{
    color:green;
    font-size: 36px;
}
.rasm{
    width: 100px;
    height: 100px;
}
div{
    background-color: black;
}
body{
    background-image: imageimage(logo.jpg)
}



